/* addEvents.css */

.container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #eaa3a3;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    background-color: #eaedef; /* Light gray background */
}

button[type="submit"] {
    background-color: #dceaf9;
    color: rgb(242, 204, 204);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red; /* Error message color */
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}

/* Additional styles for different elements */
.input-focus {
    background-color: rgb(173, 178, 78); /* Background color on input focus */
}

.select-color {
    background-color: #e4eaf0; /* Custom color for select */
}

/* Add more custom styling as needed */


.addeventimage {
    background-image: url('../../../public/images/addevents.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
  
  }